train_dataset_viral_videos_train
viral_videos_train_2
train_dataset_viral_videos_train.zip
viral_videos_train_2.zip
result.json
experiments/__pycache__/stt.cpython-311.pyc
experiments/__pycache__/translator.cpython-311.pyc
experiments/audio.wav
*/__pycache__/*
src/app/__pycache__/__init__.cpython-311.pyc
src/app/__pycache__/config.cpython-311.pyc
src/app/__pycache__/routes.cpython-311.pyc
src/app/constants/__pycache__/constants.cpython-311.pyc
src/app/service/__pycache__/VideoCutService.cpython-311.pyc
src/app/service/__pycache__/VideoUploadService.cpython-311.pyc
src/app/service/MLService/__pycache__/ClipDetector.cpython-311.pyc
src/app/service/MLService/ML/__pycache__/LLMClassification.cpython-311.pyc
src/app/service/MLService/ML/__pycache__/stt.cpython-311.pyc
src/app/temp

*.mp4
*.mp3

*.Identifier
.vscode/launch.json
src/app/service/MLService/ML/__pycache__/YOLODetector.cpython-311.pyc
flask_session
videos/d801f520-4168-4cdf-9f0a-a3e4624d82a0/virals/clip_1.mp4
videos/d801f520-4168-4cdf-9f0a-a3e4624d82a0/virals/clip_2.mp4
videos/d801f520-4168-4cdf-9f0a-a3e4624d82a0/virals/clip_3.mp4
clip_6TEMP_MPY_wvf_snd.mp3
videos
yolov8n.pt
src/clip_1TEMP_MPY_wvf_snd.mp3
src/app/frontend/__pycache__/gradio_front.cpython-310.pyc
